%fieldset
  %legend
    New Achievement
  %br/
= form_for @achievement, :url => admin_achievements_path, :html => {:class => 'form-horizontal'} do |f|
  -if @achievement.errors.any?
    .alert.alert-error
      #error_explanation
        %h2= "#{pluralize(@achievement.errors.count, "error")} prohibited this achievement from being saved:"
        %ul
          - @achievement.errors.full_messages.each do |msg|
            %li= msg

  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .control-group
    = f.label :num_to_complete, :class => 'control-label'
    .controls
      = f.number_field :num_to_complete, :class => 'text_field'
  .control-group
    = f.label :achievement_category, :class => 'control-label'
    .controls
      = select(:achievement, :achievement_category_id, AchievementCategory.all.collect {|r| [r.name, r.id]}, {:prompt => 'Select Category'})
  .form-actions
    = f.submit 'Create Achievement', :class => 'btn btn-primary'
    = link_to 'Cancel', admin_achievements_url, :class => 'btn'
